---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
  {{ content }}
</div>
<div class="share">
  <div class="sharethis-inline-share-buttons"></div>
</div>
<div class="comment">
  <div id="gitalk-container">
    <script>
      var gitalk = new Gitalk({
        clientID: '63cbf00b99995136ca4d',
        clientSecret: 'a7cab544d7ea07ecd823b16d043f413b9bad83ec',
        repo: 'dubuqian.github.io',
        owner: 'dubuqian',
        admin: ['dubuqian'],
        id: "{{ page.title }}",      // Ensure uniqueness and length less than 50
        distractionFreeMode: true  // Facebook-like distraction free mode
      })

      gitalk.render('gitalk-container')

    </script>
  </div>
</div>
<div class="related">
  <h2>最近文章</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%Y-%m-%d" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
